

<mat-grid-list cols="9" rowHeight="100px">
  <mat-grid-tile 
      *ngFor="let tile of tiles; let i = index;"
      (click)="onClick(tile.hora,item, i)"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.color]="'white'"
      [style.background]="tile.color == 'libre' ? 'green' : 'red' " #item>
    {{tile.hora +" "+ i}}
  </mat-grid-tile>
</mat-grid-list>



<div>  
  <button mat-raised-button (click)="hacerReserva()">RESERVAR</button>
    <button mat-raised-button>PAGAR</button>
</div>



